@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Another Simple App</p>
    <img src="https://cdn.pixabay.com/photo/2022/05/08/20/21/flowers-7182930_1280.jpg"/>
</div>
